<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/BackSet/src/css/subPage.css">
    <link rel="stylesheet" type="text/css" href="~/BackSet/src/other/uiTree/uiInput.css">
    @RenderSection("Head",false)
</head>
<body>
        @RenderBody()
</body>
</html>
